# Consumer Dependencies
/consumer/java/target/
/consumer/commandbox/lib/amqp-client-*
/consumer/stomp/node_modules/**
/consumer/node/node_modules/**

# Producer Dependencies
/producer/java/target/
/producer/commandbox/lib/amqp-client-*
/producer/cfml/lib/*

# IDE 
.vscode
.settings
project.xml
project.properties